---
title: Erraroo Articles
---

<div class="row">
  <div class="col-md-8">
    <% blog.articles[0...5].each do |article| %>
      <article>
        <h1>
          <a href="<%= article.url %>"><%= article.title %></a>
          <time><%= article.date.strftime('%b %e %Y') %></time>
        </h1>

        <%= article.summary %>

        <a href="<%= article.url %>">Read more</a>
      </article>
    <% end %>
  </div>
  <div class-"col-md-4">
  </div>
</div>
